header.header {
    background-color:  #3b3b3b;
    padding: 0px 1px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0px;
}

header.header h1{
    font-size: 1.8em;
    color: aliceblue;
}
