.container-footer{
    background-color: #ffcc57!important;
    height: 100%;
    width: 101%;
    color: #2f3133;
    text-align: center;
    padding-top: 70px;
    margin-top:50px;  
}
.footerStyle-texts{
    padding-top: 20px;
    font-size: x-large;
    text-align: center;
    font-weight: 200;
    width: 100%;
    white-space: nowrap;
}
    
.social-media-icons {
    display: flex!important;
    justify-content: space-around;
    padding-top: 30px;
    align-content: center;    
    padding-bottom: 50px;  
    margin: auto;  
    
}
.row-style{
   width:80%;
   margin: auto;
   padding-bottom: 50px;
}
.icon-style{
    padding-left: 10px;
    padding-right: 10px;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    font-size: 30px;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: 200;
}




